p.home {
  margin: 0px 0px 0px 5px;
  color: lightblue;

  font-family: Roboto;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;

  white-space: pre-line;
}

#cmdLine.home,
#cmdOut.home {
  color: lightblue;

  font-family: Roboto;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

#cmdOut.home {
  color: white;

  margin-bottom: 5px;
}

div.commandLine {
  width: 274px;

  position: absolute;
}

span.commandLine {
  color: lightblue;

  height: 25px;

  position: absolute;
  left: 5px;

  font-family: Roboto;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

input.commandLine {
  color: rgba(255, 255, 255, 1);
  background-color: #141414;

  border: none;

  width: calc(100vw - 150px);

  position: absolute;
  left: 125px;

  font-family: Roboto;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

textarea.commandLine:focus,
input.commandLine:focus {
  outline: none;
}

ul.home,
#socials.home,
#websiteInfo.home {
  margin: 5px 0px 5px 0px;
  list-style-type: none;
}

#websiteInfo.home {
  margin-left: 5px;
}

a.home {
  color: #035afc;
}

li.home {
  color: white;
}
